.boton {
    padding: 1rem;
    font-size: 2.1rem;
    font-family: sans-serif;
}

.boton:hover {
    background-color: rgba(18, 18, 61, 0.631);
    color: darkgrey;
}

.dupla {
    background-color: rgba(14, 101, 14, 0.693);
    border: .4rem solid rgba(19, 18, 18, 0.818);
    margin-bottom: .1rem;
    font-family: sans-serif;
    text-align: start;
    padding: .2rem;
}

.dupla p {
    text-align: center;
}